@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800,900&display=swap&subset=cyrillic');
@import 'header';
@import 'second';
@import 'third';
@import 'preferens';
@import 'reviews';
@import 'work';
body {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
}
*,
*:after,
*:before {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}
.container {
	max-width: 1368px;
	margin: 0 auto;
	
}
@media (max-width: 581px) {
	.work-prof {
		
		padding-top: 60px;
		padding-left: 5px;
		padding-right: 5px;
		width: 75%;
	}

}